certifi==2020.12.5
chardet==4.0.0
idna==2.10
MouseInfo==0.1.3
Pillow==8.2.0
pycryptodome==3.10.1
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
requests==2.25.1
selenium==3.141.0
urllib3==1.26.4
wincertstore==0.2
